.header {
  position: fixed;
  width: 100%;
  background: #191C34;
  z-index: 1; }
  .header a {
    color: #fff;
    margin-right: 40px; }
  .header .nav-link:hover {
    color: #000000;
    font-weight: bold; }
  .header .nav-link:focus {
    color: #191C34;
    font-weight: bold; }
  .header-background {
    background-image: url("../../img/portada.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    position: relative; }
  .header-opacity {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(0%, 0%);
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; }

.banner {
  position: relative;
  height: 650px;
  background-image: url(../../img/portada.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner-oscured {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #af3847;
    background: linear-gradient(5deg, rgba(175, 56, 71, 0.5088410364) 0%, rgba(78, 35, 178, 0.5536589636) 38%, rgba(25, 28, 52, 0.8841911765) 100%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner .btn-contact {
    color: white;
    background: #3957B1;
    border: none;
    box-shadow: 1px 1px 16px white;
    border-radius: 10px;
    padding: 10px 30px; }
  .banner .btn-contact:hover {
    background: #191C34;
    box-shadow: 1px 1px 16px #4E23B2; }

.servicios {
  background-color: #191C34;
  padding: 80px 0; }
  .servicios h2 {
    font-family: "PT Serif", serif;
    color: #AF3847;
    padding-bottom: 30px;
    text-align: center; }
  .servicios .card {
    box-shadow: 0px 7px 7px 0px #4E23B2;
    border: none !important; }
  .servicios .card img {
    height: 200px; }
  .servicios .card-title {
    font-size: 18px;
    color: #3957B1;
    font-family: "PT Serif", serif;
    font-weight: 400; }
  .servicios p.card-text {
    font-size: 14px;
    font-family: "Open Sans";
    color: #4E23B2; }

.nosotros {
  padding: 80px 0;
  background-color: #191C34; }
  .nosotros h2 {
    font-family: "PT Serif", serif;
    color: #AF3847;
    padding-bottom: 30px;
    text-align: center; }
  .nosotros p {
    color: #fff;
    font-size: 20px; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #191C34; }

.contacto {
  font-family: "PT Serif", serif;
  padding: 60px 0;
  background: #fff; }

.contacto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #AF3847;
  text-align: center; }

.contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4; }

.contacto .formulario input[type="text"]:focus,
.contacto .formulario input[type="email"]:focus,
.contacto .formulario textarea:focus {
  border: 2px solid #3957B1; }

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 15px; }

.contacto .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px; }

.contacto .formulario .boton {
  margin: auto;
  background: #3957B1;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 16px blue;
  border-radius: 10px;
  padding: 15px 40px;
  cursor: pointer; }

.contacto .formulario .boton:hover {
  background: #191C34;
  box-shadow: 1px 1px 16px #3957B1; }

.equipo {
  padding: 80px 0;
  background-color: #191C34; }
  .equipo h2 {
    font-family: "PT Serif", serif;
    color: #AF3847;
    padding-bottom: 30px;
    text-align: center; }
  .equipo p {
    color: #fff;
    font-size: 20px; }

.footer {
  padding: 20px 0px;
  background: #000;
  color: #fff; }

.tecnologias {
  background: #fff;
  padding: 80px 0; }
  .tecnologias h2 {
    font-family: "PT Serif", serif;
    color: #AF3847;
    padding: 30px;
    text-align: center; }
  .tecnologias img {
    width: 200px;
    height: 100px;
    margin-bottom: 40px;
    background-size: contain;
    object-fit: contain;
    display: inline-block; }

/*# sourceMappingURL=app.css.map */
