.contacto
    font-family: $font-title
    padding: 80px 0
    background: $color-blanco

.contacto .titulo
    font-size: 34px
    line-height: 34px
    margin-bottom: 40px
    font-weight: 300
    color: $color-rojo
    text-align: center

.contacto .formulario 
    display: flex
    flex-wrap: wrap
    justify-content: space-between    

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea
    border: 1px solid #cecece
    border-radius: 5px
    padding: 10px 20px
    font-size: 20px
    color: #a4a4a4

.contacto .formulario input[type="text"]:focus,
.contacto .formulario input[type="email"]:focus,
.contacto .formulario textarea:focus
    border: 2px solid $color-azul

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"]
    width: 49%
    margin-bottom: 15px

.contacto .formulario textarea
    width: 100%
    height: 100px
    min-width: 100%
    max-width: 100%
    min-height: 100px
    max-height: 300px
    margin-bottom: 15px

.contacto .formulario .boton
    margin: auto
    background: $color-azul
    color: #fff
    border: none
    box-shadow: 1px 1px 10px blue
    border-radius: 10px
    padding: 10px 40px
    cursor: pointer 

.contacto .formulario .boton:hover
    background: $color-fondo
    box-shadow: 1px 1px 16px $color-azul

h3
    margin-bottom: 30px

img.img-fluid.img-send-img
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    align-self: center
