
    
*
    box-sizing: border-box

body
    background: #3957b1
    font-family: 'Open Sans', sans-serif
    font-size: 16px

.contenedor
    width: 90%
    max-width: 1000px
    margin: auto
    overflow: hidden

/*----- ---- header ---- -----*/ 
header
    background-repeat: no-repeat
    background-position: center
    max-height: 600px
    