.nosotros
    padding: 80px 0
    background-color: $color-blanco

    h2
        font-family: $font-title
        color: $color-rojo
        padding-bottom: 30px
        text-align: center
    
    p
        color: $color-fondo
        font-size: 20px