.servicios
    padding: 60px 0
    h2
        font-family: $font-title
        color: $color-azul
        padding-bottom: 30px

    .card
        box-shadow: -5px 13px 14px 0px rgba(25,28 ,58 ,0.25 )
    .card img
        height: 200px

    .card-title
        font-size: 18px
        color: $color-azul
        font-family: $font-title
        font-weight: 400

    p.card-text
            font-size: 14px
            font-family: 'Open Sans'
            color: $color-morado
    