.servicios
    background-color: $color-blanco 
    padding: 80px 0
    h2
        font-family: $font-title
        color: $color-rojo
        padding-bottom: 30px
        text-align: center

    .card
        box-shadow: 0px 7px 7px 0px $color-morado
        border: none !important

    .card img
        height: 200px
        

    .card-title
        font-size: 18px
        color: $color-azul
        font-family: $font-title
        font-weight: 400

    p.card-text
            font-size: 14px
            font-family: 'Open Sans'
            color: $color-morado
    